footer{
	padding:20px 0 20px 0;
	ul.xs{
		display:none;

		li{
			margin-top:0 !important;
			margin-bottom:5px !important;
			font-family: $paragraph-family;
			font-size: 1.2rem;

			b{
				font-family: $paragraph-bold-family;
			}
		}
	}

	.row{
		>.container{
			.col-sm-8 {
				p.text-center{
					a{
						margin:auto !important;
					}
				}
			}
		}
	}


	a{

		i{
			font-size: 24px;
   			 margin-top: 0px;
		}
		margin-right: 0;
	    color: grey !important;
	}

	a:hover i {
		color:$primary-color;
	}
	p{
	    margin-top: 6px;
	 	line-height: 23px;

	}

	a{
		margin-top:14px;
	}
	img{
		width: 120px;
	}
}