/*MEDIA QUERIES*/


@media only screen and (width: 768px){
    section#proyectos .descrip-tres > div {
    padding: 21px !important;
    }

     section#proyectos .descrip-tres {
    height: 235px !important;
    }

    #proyectos.bkground {
        height: 63vh !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 850px){

 #formulario-cont{
        top: 162px !important;
    width: 100vw !important;
    min-height: auto !important;
    height: 100vh !important;
    max-height: inherit !important;
    form{
        padding-left: inherit !important;
        padding-right: inherit !important;
    }
    }

	header {
    padding: initial;
    padding-top: 15px;
    padding-bottom:15px;
    height: auto;
	}


.xs-row img.logo{
    margin-top:7px;
        width: 106px !important;
}

	.row{
	margin-right: 0px !important;
     margin-left: 0px !important; 
	}

.container-fluid{
	padding-right: 0 !important;
    padding-left: 0 !important;
}


footer ul{
	margin:auto !important;
	text-align: center;

}


footer ul li{
	margin:auto !important;
	
}

footer ul li:not(:nth-child(1)){
	margin-top:15px !important;
	
}

footer div.col-lg-8 h4{
   width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 11px;
    margin-top: 6px;
}

div.bkground ul{
    flex-direction:row;
    flex-wrap:wrap;
}


ul.flex{
    flex-direction:column;
    flex-wrap: nowrap;
}


}



@media only screen and (min-width: 320px) and (max-width: 420px) and (orientation:portrait) {



}

@media only screen and (min-width: 320px) and (max-width: 850px) and (orientation:landscape) {
 


}


@media only screen and (width: 320px){
  

}

@media only screen and (min-width: 10px) and (max-width: 1024px)  {


}







@media only screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (width: 1024px)  {



.xs-row i{
    font-size: 7.5rem;
}


}

@media only screen and (min-width: 1024px) and (max-width: 1200px)  {

}



@media only screen and (min-width: 1200px) and (max-width: 1500px) {


}


@media only screen and (min-width: 1500px) and (max-width: 1800px) {

}




@media only screen and (width: 1920px) {


}
