#tipoEvento{
	margin-bottom:100px;
fieldset{
    width: 80%;
    border: 3px solid $primary-color;
    padding: 21px 130px 21px 130px;

	legend{
		    margin-left: 0;
		    margin-right: 0;
		    width: fit-content;
		    text-align: center;
		    box-shadow: none;
		    border: none !important;
		    background: white;
		    padding-left: 40px;
		    padding-right: 40px;
    		@media screen\0 {

			   padding-left: 20px;
		    padding-right: 20px;

			}

		    margin:auto;
	}
	ul{
		//width: fit-content;
		width: auto;
	    margin: auto;
	    justify-content: center;
	    justify-items: center;
	    justify-content: space-evenly;
	
		
		li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4){
			margin-bottom: 50px;
		}

		li{

			width:200px;
			h4{
				font-family: 'ZonaPro-Bold';
			}
   		 	img{
   		 		width: 63px;
   		 		margin-bottom:7px;
   		 	}

   		 	@media screen\0 {

			    img{
   		 			width: 50px;
   		 		}

			}
		}
	}
}

}